#root {
    text-align: center;
    background-color: rgba(34, 46, 94, 1);
}

#contenedorSticky {
    display: flex;
    align-content: center;
    display: none;
}

main {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(211, 211, 211, 1);
}

#cabeza {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

#logoSticky {
    width: 40%;
}

#tituloInicio {
    font-size: 60px;
    margin: 10px;
    color: rgba(6, 188, 194, 1);
    padding-top: 40px;
}

#titulo {
    padding: 0 0px 0 85px;
    color: rgba(6, 188, 194, 1);
    margin: 25px;
    font-size: 230px;
}

h2,
p {
    color: white;
}

p {
    font-size: 25px;
}

h2 {
    font-size: 30px;
}

#userName {
    color: white;
    font-size: 8 0px;
    align-content: flex-end;
}

#button {
    background-color: rgba(6, 188, 194, 1);
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 100%;
    color: white;
    font-size: 150px;
    padding: 30px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 550;
}

#cuerpoNotas {
    height: 550px;
    
}

#btnLogin {
    width: auto;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    font-weight: 550;
    border: none;
    background: linear-gradient(180deg, #15B1B7 0%, #057A8A 100%);
    padding: 10px 20px 10px 20px;
}

#lateral {
    background-color: rgba(6, 188, 194, 1);
    height: auto;
    width: 300px;
    flex-direction: column;
    font-size: 25px;
}

#cerrarSesion,
#nuevoSticky {
    background-color: rgba(34, 46, 94, 1);
    Width: 200px;
    Height: 50px;
    border-radius: 25px;
    margin: 12px;
    font-size: 22px;
    color: white;
    font-weight: 550;
}

#publicarpost {
    background-color: rgba(34, 46, 94, 1);
    Width: 100px;
    Height: 40px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
}

#borrar-editar {
    background-color: rgba(34, 46, 94, 1);
    Width: 60px;
    Height: 20px;
    border-radius: 20px;
    margin: 10px;
    font-size: 15px;
    color: white;
}

#nuevoSticky {
    margin-top: 30px;
    margin-bottom: 15px;
}

#contenedorNotas {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
}

#cerrarSesion {
    margin-top: 35px;
}

#inputsticky {
    width: 190px;
    height: 100px;
    background-color: rgba(6, 188, 194, 1);
    border: none;
    padding: 10px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

#datosNota {
    background-color: rgba(6, 188, 194, 1);
    padding: 10px 10px 0px 10px;
    margin: 15px;
}

#textoNota {
    width: 190px;
    background-color: rgba(6, 188, 194, 1);
    border: none;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#tituloNota {
    width: 190px;
    background-color: rgba(6, 188, 194, 1);
    border: none;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0;
}

::placeholder {
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

header {
    padding: 15px;
}

#sticky {
    background-color: rgba(6, 188, 194, 1);
    width: 250px;
    height: 230px;
    margin: 30px;
    padding-top: 10px;
}

#titulosticky {
    width: 170px;
    background-color: rgba(6, 188, 194, 1);
    border: none;
    text-align: center;
    padding: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

@media (min-width:1024px) {
    #tituloInicio {
        font-size: 60px;
        margin: 5px;
        color: rgba(6, 188, 194, 1);
        padding-top: 20px;
    }
    #logoSticky {
        width: 40%;
    }
    #cabeza {
        display: flex;
        justify-content: space-between;
        margin: 0 20px 0 20px;
        height: 75px;
    }
    #titulo {
        font-size: 50px;
    }
    #userName {
        color: white;
        font-size: 30px;
        align-content: flex-end;
    }
    #titulo {
        padding: 0 0px 0 85px;
        color: rgba(6, 188, 194, 1);
        margin: 10px;
    }
    #lateral {
        background-color: rgba(6, 188, 194, 1);
        width: 300px;
        height: 500px;
        flex-direction: column;
        font-size: 20px;
    }
    #button {
        background-color: rgba(6, 188, 194, 1);
        border-bottom: 2px solid rgb(255, 255, 255);
        width: 100%;
        color: white;
        font-size: x-large;
    }
    #btnLogin {
        width: auto;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        background-color: rgba(6, 188, 194, 1);
        border-radius: 25px;
        font-weight: 550;
        border: none;
        padding: 10px 20px 10px 20px;
    }
    main {
        display: flex;
        justify-content: flex-start;
        background-color: rgba(211, 211, 211, 1);
        height: 500px;

    }
    #cerrarSesion {
        margin-top: 5px;
    }
    #cerrarSesion,
    #nuevoSticky {
        background-color: rgba(34, 46, 94, 1);
        Width: 200px;
        Height: 40px;
        border-radius: 25px;
        margin: 10px;
        font-size: 22px;
        color: white;
        font-weight: 550;
    }
    #cuerpoNotas {
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        flex-direction: column;
    }

    #nuevoSticky {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    #sticky {
        background-color: rgba(6, 188, 194, 1);
        width: 250px;
        height: 230px;
        margin: 25px 0 25px 25px;
        padding-top: 10px;
    }
    #contenedorNotas {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        height: 100px;
    }
    #datosNota {
    background-color: rgba(6, 188, 194, 1);
    padding: 10px 10px 0px 10px;
    margin: 10px;
}
}

