#root {
    text-align: center;
    background-color: rgba(34, 46, 94, 1);
    height: 100vh;
}

#contenedorSticky {
    display: flex;
    align-content: center;
    display: none;
}

main {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(211, 211, 211, 1);
}

#cabeza {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

#logoSticky {
    width: 65%;

}

#tituloInicio {
    font-size: 50px;
    margin: 5px;
    color: rgba(6, 188, 194, 1);
    padding-top: 10px;

}

#titulo {
    padding: 0 0px 0 85px;
    color: rgba(6, 188, 194, 1);
    margin: 25px;
    font-size: 230px;
}

h2 {
    color: white;
}

#userName {
    color: white;
    font-size: 8 0px;
    align-content: flex-end;
}

#button {
    background-color: rgba(6, 188, 194, 1);
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 100%;
    color: white;
    font-size: 150px;
    padding: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 550;

}

#btnLogin {
    width: auto;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    border-radius: 25px;
    font-weight: 550;
    border: none;
    background: linear-gradient(180deg, #15B1B7 0%, #057A8A 100%);
}

#lateral {
    background-color: rgba(6, 188, 194, 1);
    height: auto;
    width: 200px;
    flex-direction: column;
    font-size: 25px;
}

#cerrarSesion,
#nuevoSticky {
    background-color: rgba(34, 46, 94, 1);
    Width: 200px;
    Height: 50px;
    border-radius: 25px;
    margin: 12px;
    font-size: 22px;
    color: white;
    font-weight: 550;

}
#publicarpost{
    background-color: rgba(34, 46, 94, 1);
    Width: 100px;
    Height: 40px;
    border-radius: 20px;
    margin: 12px;
    font-size: 15px;
    color: white;
}

#nuevoSticky {
    margin-top: 30px;
    margin-bottom: 15px;
}

#cerrarSesion {
    margin-top: 30px;
}

#inputsticky {
    width: 190px;
    height: 100px;
    background-color: rgba(6, 188, 194, 1);
    border: none;
    padding: 10px;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

::placeholder {
    color: white;
    font-weight: bolder;
    font-size: 15px;

}

header {
    padding: 15px;
}

#sticky {
    background-color: rgba(6, 188, 194, 1);
    width: 250px;
    height: 230px;
    margin: 30px;
    padding-top: 10px;
}

#titulosticky {
    width: 170px;
    background-color: rgba(6, 188, 194, 1);
    border: none;
    text-align: center;
    padding: 15px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;

}

@media (min-width:1024px) {
    #logoSticky {
        width: 48%;
    }

    #cabeza {
        display: flex;
        justify-content: space-between;
        margin: 0 20px 0 20px;
    }

    #titulo {
        font-size: 50px;
    }

    #userName {
        color: white;
        font-size: 30px;
        align-content: flex-end;
    }

    #titulo {
        padding: 0 0px 0 85px;
        color: rgba(6, 188, 194, 1);
        margin: 10px;
    }

    #lateral {
        background-color: rgba(6, 188, 194, 1);
        width: 300px;
        flex-direction: column;
        font-size: 20px;
    }

    #button {
        background-color: rgba(6, 188, 194, 1);
        border-bottom: 2px solid rgb(255, 255, 255);
        width: 100%;
        color: white;
        font-size: x-large;
    }
    #btnLogin {
        width: auto;
        color: white;
        font-size: 20px;
        margin-bottom: 40px;
        background-color: rgba(6, 188, 194, 1);
        border-radius: 25px;
        padding: 5px;
        font-weight: 550;
        border: none;
        padding: 5px 20px 5px 20px;
    
    }
}