#root {
    text-align: center;
    background-color: rgba(34, 46, 94, 1);
    height: 100vh;
}

#contenedorSticky {
    display: flex;
    align-content: center;
    display: none;
}

main {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(211, 211, 211, 1);
    height: 100vh;
    width: 100vh;
}

#cabeza {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

#logoSticky {
    width: 70%;
}

#tituloInicio {
    font-size: 60px;
}

#titulo {
    padding: 0 0px 0 85px;
    color: rgba(6, 188, 194, 1);
    margin: 30px;
    font-size: 200px;
}

h2 {
    color: white;
}

#userName {
    color: white;
    font-size: 8 0px;
    align-content: flex-end;
}

#button {
    background-color: rgba(6, 188, 194, 1);
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
    color: white;
}

#lateral {
    background-color: rgba(6, 188, 194, 1);
    height: 700px;
    width: 200px;
    flex-direction: column;
    font-size: 25px;
}

#cerrarSesion,
#publicarpost,
#nuevoSticky,
#opciones {
    background-color: rgba(34, 46, 94, 1);
    Width: 200px;
    Height: 50px;
    border-radius: 20px;
    margin: 12px;
    font-size: 18px;
    color: white;
}

#nuevoSticky {
    margin-top: 30px;
    margin-bottom: 15px;
}

#cerrarSesion {
    margin-top: 30px;
}

#inputsticky {
    width: 190px;
    height: 100px;
    background-color: rgba(6, 188, 194, 1);
    border: none;
    padding: 10px;
    color: white;
}

::placeholder {
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

#filtro {
    height: 670px;
    background-color: rgba(34, 46, 94, 1);
    color: #ffff;
}

header {
    padding: 15px;
}

#sticky {
    background-color: rgba(6, 188, 194, 1);
    width: 250px;
    height: 230px;
    margin: 30px;
    padding-top: 10px;
}

#titulosticky {
    width: 170px;
    background-color: rgba(6, 188, 194, 1);
    border: none;
    text-align: center;
    padding: 15px;
    color: white;
}